body {
	font-family: 'Google Sans', Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

header {
	background-color: #000;
	color: #fff;
	text-align: in-line;
	padding: 1rem 0;
}


header h1 {
	text-align: center;
}

header img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	object-fit: center;
	text-align: left;
	vertical-align: middle;
}

nav {
	background-color: #a09e9e;
	padding: 0.5rem 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0 1rem;
	justify-content: center;
	display: flex;
}

nav ul li {
	margin: 0 1rem;
}

main {
	margin: 2rem auto;
	width: 80%;
}

.experience1,
.experience2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.experience1 p,
.experience2 p {
	margin: 0.25rem 0;
}

.education1,
.education2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.education1 p,
.education2 p {
	margin: 0.25rem 0;
}

section h2 {
	color: #333;
	border-bottom: 2px solid #444;
}

footer {
	background-color: #222;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
}